<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60">
    <Properties>
        <!-- Change to customize for project Start -->
        <Property name="base-name">tic-tac-toe</Property>
        <Property name="base-dir">/var/log/</Property>
        <Property name="rotate-dir-name">rotate</Property>
        <!-- Change to customize for project End -->

        <!-- Don't change start -->
        <Property name="keep-days">30</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
        <Property name="base-dir-rolling">${base-dir}${rotate-dir-name}/</Property>
        <Property name="file-debug">${base-dir}${base-name}.debug.log</Property>
        <Property name="file-error">${base-dir}${base-name}.error.log</Property>
        <Property name="file-rolling-debug">${base-dir-rolling}${base-name}-debug-%d.log</Property>
        <Property name="file-rolling-error">${base-dir-rolling}${base-name}-error-%d.log</Property>
        <!-- Don't change end -->
    </Properties>

    <!-- Don't change start -->
    <Appenders>
        <Console name="Console" target="STDOUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="FileDebug" fileName="${file-debug}" filePattern="${file-rolling-debug}">
            <PatternLayout pattern="${pattern}"/>
            <TimeBasedTriggeringPolicy />
            <DefaultRolloverStrategy>
                <Delete basePath="${base-dir-rolling}" maxDepth="1">
                    <IfFileName glob="${base-name}-debug-*" />
                    <IfAccumulatedFileCount exceeds="${keep-days}" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="FileError" fileName="${file-error}" filePattern="${file-rolling-error}">
            <PatternLayout pattern="${pattern}"/>
            <TimeBasedTriggeringPolicy />
            <DefaultRolloverStrategy>
                <Delete basePath="${base-dir-rolling}" maxDepth="1">
                    <IfFileName glob="${base-name}-error-*" />
                    <IfAccumulatedFileCount exceeds="${keep-days}" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileDebug" level="debug"/>
            <AppenderRef ref="FileError" level="error"/>
        </Root>
    </Loggers>
    <!-- Don't change end -->
</Configuration>